In [1]:
import pandas as pd
import yfinance as yf
import numpy as np
import seaborn as sb
from statistics import mean
from math import exp

In [2]:
# idxc = yf.Ticker('^JKSE')
# idxc.history(start='2010-01-04').to_csv('idxc.csv')
idxc = pd.read_csv('idxc.csv')
idxc.head(2)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-01-04 00:00:00+07:00,2533.947998,2576.055908,2532.895996,2575.413086,18339300,0,0
1,2010-01-05 00:00:00+07:00,2575.616943,2606.069092,2575.616943,2605.277100,57043800,0,0

In [3]:
idxc = idxc.drop(['Dividends','Stock Splits'], axis=1)
idxc['Year'] = pd.to_datetime(idxc['Date']).dt.year
idxc['Quarter'] = pd.to_datetime(idxc['Date']).dt.quarter
idxc['Month'] = pd.to_datetime(idxc['Date']).dt.month
idxc['Day'] = pd.to_datetime(idxc['Date']).dt.day
idxc['Log Return'] = np.log(idxc['Close'].div(idxc['Close'].shift(1)).fillna(1))
idxc.head(2)

,Date,Open,High,Low,Close,Volume,Year,Quarter,Month,Day,Log Return
0,2010-01-04 00:00:00+07:00,2533.947998,2576.055908,2532.895996,2575.413086,18339300,2010,1,1,4,0.000000
1,2010-01-05 00:00:00+07:00,2575.616943,2606.069092,2575.616943,2605.277100,57043800,2010,1,1,5,0.011529

In [9]:
FOM_EOM_table = pd.DataFrame({
    'year': [
    idxc[(idxc['Year'] == yr) & (idxc['Quarter'] == mt)]['Year'].iloc[0]
    for yr in range(2010,2023) for mt in range(1,5)
    ] + [
    idxc[(idxc['Year'] == yr) & (idxc['Quarter'] == mt)]['Year'].iloc[0]
    for yr in range(2023,2024) for mt in range(1,3)
    ]
    ,
    'month': [
    idxc[(idxc['Year'] == yr) & (idxc['Quarter'] == mt)]['Quarter'].iloc[0]
    for yr in range(2010,2023) for mt in range(1,5)
    ] + [
    idxc[(idxc['Year'] == yr) & (idxc['Quarter'] == mt)]['Quarter'].iloc[0]
    for yr in range(2023,2024) for mt in range(1,3)
    ]
    ,
    'FOM log return' : [
    idxc[(idxc['Year'] == yr) & (idxc['Quarter'] == mt)]['Log Return'].iloc[0]
    for yr in range(2010,2023) for mt in range(1,5)
    ] + [
    idxc[(idxc['Year'] == yr) & (idxc['Quarter'] == mt)]['Log Return'].iloc[0]
    for yr in range(2023,2024) for mt in range(1,3)
    ]
    ,
    'EOM log return' : [
    idxc[(idxc['Year'] == yr) & (idxc['Quarter'] == mt)]['Log Return'].iloc[-1]
    for yr in range(2010,2023) for mt in range(1,5)
    ] + [
    idxc[(idxc['Year'] == yr) & (idxc['Quarter'] == mt)]['Log Return'].iloc[-1]
    for yr in range(2023,2024) for mt in range(1,3)
    ]
})

In [18]:
print(
    len(FOM_EOM_table[((FOM_EOM_table['EOM log return']) > 0) & (FOM_EOM_table['year'].isin([2020,2021,2022,2023]))]) / len(FOM_EOM_table[FOM_EOM_table['year'].isin([2020,2021,2022,2023])])
)
print(
    exp(FOM_EOM_table[FOM_EOM_table['year'].isin([2020,2021,2022,2023])]['EOM log return'].mean())
)

0.42857142857142855
1.0016117046219208

In [19]:
print(
    len(FOM_EOM_table[((FOM_EOM_table['EOM log return']) > 0) & (~FOM_EOM_table['year'].isin([2020,2021,2022,2023]))]) / len(FOM_EOM_table[~FOM_EOM_table['year'].isin([2020,2021,2022,2023])])
)
print(
    exp(FOM_EOM_table[~FOM_EOM_table['year'].isin([2020,2021,2022,2023])]['EOM log return'].mean())
)

0.775
1.005006663510455